/**
* @author    Ninodezign.com http://www.ninodezign.com
* @copyright Copyright (C) 2016 Ninodezign.com. All rights reserved.
* @license   Ninodezign.com Proprietary License
*/
/* ============================== DEFAULT HTML ============================== */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
html, body {
	margin: 0;
	padding: 0;
}
body {
	color: #313131;
	font-size: 14px;
	font-weight: 300;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	background-image: url(../images/wood-melanine.jpg);    
    background-repeat: repeat;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main { 
    display: block;
}
hr {
	border-left: none;
	border-right: none;
    border-top: 1px solid #E5E5E5;
    color: #F4F4F4;
    margin: 20px 0;
    padding: 0;
}
/* =============== DEFAULT HTML - LINK STYLES =============== */
a {
	text-decoration: none;
	outline: none;
	color: #263238;
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
}
a:hover {
	color: #666;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:focus {
	outline: none;
}
a img {
	border: none;
}
a[class*="glyphicon-"] {
	text-decoration: none;
}
/* =============== DEFAULT HTML - HEADING STYLES =============== */
h1, h2, h3, h4, h5, h6 {
	margin: 5px 0 10px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.4;
}
/* =============== DEFAULT HTML - LIST STYLES =============== */
ul, ul li,
ol, ol li,
p, form, input {
	margin: 0;
	padding: 0;
}
p {
	margin-bottom: 10px;
}
ul, ul li {
	list-style: none;
}
/* =============== DEFAULT HTML - IMAGES STYLES =============== */
img {
	border: none;
	max-width: 100%;
}
img.image-left {
	float: left;
	margin-right: 5px;
}
img.img-full-width {
	width: 100%;
}
/* =============== PREDEFINED CONTENT ALIGN =============== */
.margin-left {
	margin-left: 1em !important;
	margin-right: 0;
}
.margin-right {
	margin-left: 0;
	margin-right: 1em !important;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - GENERAL LAYOUT =============== */
.nino-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}
.nino-fsr {
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
}
.nino-fg {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}
.nino-fw {
	flex-wrap: wrap;
}
.nino-verticalCenter {
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}
.nino-verticalBottom {
	-ms-flex-align: flex-end;
	-webkit-align-items: flex-end;
	-webkit-box-align: flex-end;
	align-items: flex-end;	
}
/* =============== LAYOUT - HEADER AREA =============== */
header {
	margin-bottom: 40px;
}
header .item {
	margin-bottom: 20px;
	font-size: 15px;
}
header .name,
header .regency {
	margin: 0;
	text-transform: capitalize;
}
header .name {
	font-size: 25px;
	margin-bottom: 8px;
}
header .regency {
	font-size: 15px;
}
header .text {
	border-right: 1px solid #c5c5c5;
	margin-right: 10px;
	padding-right: 10px;
}
header .otherInfo {
	text-align: right;
	font-style: italic;
	color: #333;
	font-weight: 400;
}
/* =============== LAYOUT - CONTENT AREA =============== */
#nino-cvWrap {
	margin: 50px auto;
	padding: 50px 40px 80px;
	background: #f3f3f3;
	border: 1px solid #dadada;
	background-image: url(../images/concrete-texture.png);    
    background-repeat: repeat;
    -webkit-box-shadow: 6px 6px 7px -5px rgba(0,0,0,0.35);
    -moz-box-shadow: 6px 6px 7px -5px rgba(0,0,0,0.35);
    box-shadow: 6px 6px 7px -5px rgba(0,0,0,0.35);
}
main > .row {
	margin-left: -20px;
	margin-right: -20px;
}
main > .row > div {
	padding-left: 20px;
	padding-right: 20px;
}
section:not(:last-child) {
	margin-bottom: 65px;
}
.nino-sectionTitle {
	text-transform: uppercase;
	border-bottom: 2px dotted #b1b1b1;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	color: #069cad;
}
/* =============== LAYOUT - FOOTER AREA =============== */
footer {
	text-align: center;
	margin-top: 100px;
	position: relative;
	padding-top: 10px;
	font-weight: 400;
	color: #333;
}
footer:before {
	content: "";
	position: absolute;
	width: 55px;
	height: 2px;
	background: #bdbcbc;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
			transform: translateX(-50%);
}
/* =============== SECTION PERSONAL STATEMENT =============== */
section.nino-personalStatement {
	margin-bottom: 30px;
}
/* =============== SECTION MY SPECIALITIES =============== */
.nino-specialities ul li {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 110px;
}
/*
.nino-specialities ul li + li {
	margin-left: -18px;
}
*/
.nino-specialities ul li {
    margin: 5px;
}
.nino-specialities ul li i {
	font-size: 45px;
	border: 1px solid;
	padding: 30px;
	border-radius: 50%;
}
.nino-specialities ul li .nino-icon {
	position: relative;
	padding-bottom: 80px;
	overflow: hidden;
	margin-bottom: 10px;
}
.nino-specialities ul li:nth-child(even) .nino-icon {
	padding-bottom: 120px;
}
.nino-specialities ul li .nino-icon:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 0;
	width: 1px;
	height: 100%;
	background: #808285;
	margin-top: 90px;
}
.nino-specialities ul li .nino-icon:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 87px;
	width: 5px;
	height: 5px;
	background: #808285;
	border-radius: 50%;
	margin-left: -2px;
}
/* =============== SECTION DESIGN SKILLS =============== */
.nino-designSkills .nino-sectionContent,
.nino-designSkills ul {
	margin-top: 30px;
}
.nino-designSkills ul li + li {
	margin-top: 3px;
}
.nino-designSkills .nino-skillsLevel {
	padding-right: 40px;
}
.nino-designSkills .skillName {
	width: 160px;
}
.nino-designSkills .dot {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #cecece;
	border-radius: 50%;
	margin: 0 1px;
}
.nino-designSkills .level-1 .dot:first-child,
.nino-designSkills .level-2 .dot:nth-child(-n+2),
.nino-designSkills .level-3 .dot:nth-child(-n+3),
.nino-designSkills .level-4 .dot:nth-child(-n+4),
.nino-designSkills .level-5 .dot:nth-child(-n+5),
.nino-designSkills .level-6 .dot:nth-child(-n+6),
.nino-designSkills .level-7 .dot:nth-child(-n+7),
.nino-designSkills .level-8 .dot {
	background: #494748;
}
/* =============== SECTION LANGUAGE SKILLS =============== */
.nino-languageSkills .nino-sectionContent {
	margin-top: 70px;
	text-align: center;
}
.nino-languageSkills .c100 {
	margin: 0 0 15px;
	font-size: 155px;
	display: inline-block;
	float: none;
}
.nino-languageSkills .c100 > span {
	line-height: 1;
	font-size: 13px;
	width: 100%;
	height: 100%;
	color: #231F20;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}
.nino-languageSkills .c100 > span strong {
	display: block;
	margin-bottom: 3px;
}
.nino-languageSkills .c100 .bar,
.nino-languageSkills .c100 .fill {
	border-color: #525252;
}
/* =============== SECTION EDUCATION =============== */
.nino-education .nino-sectionContent {
	margin-top: 30px;
	font-weight: 400;
	color: #231F20;
}
.nino-education ul {
	position: relative;
	border-left: 2px solid #4e4e4e;
	padding: 15px 0 40px 25px;
	margin-left: 5px;
}
.nino-education ul:before,
.nino-education ul:after {
	content: "";
	position: absolute;
}
.nino-education ul:before {
	left: -7px;
	top: -8px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #58585a;
}
.nino-education ul:after {
	left: -4px;
	bottom: 0;
	width: 6px;
	height: 6px;
	background: #58585a;
	border-radius: 50%;
}
.nino-education ul li {
	position: relative;
}
.nino-education ul li:before {
	content: "";
	position: absolute;
	left: -32px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 12px;
	height: 12px;
	background: #58585a;
	border-radius: 50%;
	border: 2px solid #f3f3f3;
}
.nino-education ul li + li {
	margin-top: 20px;
}
.nino-education .regency {
	color: #6D6E71;
	margin: 2px 0;
}
/* =============== SECTION WORK EXPERIENCE =============== */
.nino-workExperience .nino-sectionContent {
	color: #231F20;
	font-weight: 400;
}
.nino-workExperience .number {
	font-size: 140px;
	font-weight: 400;
	margin: 25px 15px 0 0;
	line-height: 112px;
	color: #525252;
}
.nino-workExperience .regency {
	color: #6D6E71;
	margin: 2px 0;
}
/* =============== SECTION RECOGNITIONS =============== */
.nino-recognitions .item {
	margin: 40px 0;
	font-weight: 400;
	color: #231F20;
}
.nino-recognitions .nino-icon {
	font-size: 50px;
	margin-right: 40px;
	color: #808285;
}
.nino-recognitions .desc {
	color: #6D6E71;
    margin: 2px 0;
}
/* =============== SECTION HOBBIES & INTERESTS =============== */
.nino-hobbies .nino-sectionContent {
	margin-top: 50px;
	margin: 45px -5px 0;
}
.nino-hobbies .item {
	width: 20%;
	float: left;
	padding: 0 5px;
	margin-bottom: 10px;
}
.nino-hobbies .itemInner {
	position: relative;
	border: 1px solid #333;
	border-radius: 50%;
}
.nino-hobbies .itemInner:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.nino-hobbies .itemContent {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 10px;
}
.nino-hobbies .nino-icon {
    font-size: 35px;
}
.nino-hobbies .text {
	display: block;
	line-height: 100%;
	margin-top: 8px;
}
/* =============== GO TO TOP =============== */
#nino-scrollToTop {
	width: 50px; 
	height: 50px;
	text-align: center;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	text-indent: -99999em;
	display: none;
	cursor: pointer;
	z-index: 2;
	background: #ccc  url(../images/go-to-top.png) center center no-repeat;
}
#nino-scrollToTop:hover {
	text-decoration: none;
	background-color: #525252;
}
/* ============================================================ RESPONSIVE ============================================================ */
@media (max-width: 1200px) {

	/* =============== SECTION DESIGN SKILLS =============== */
	.nino-designSkills .nino-skillsLevel,
	.nino-designSkills .nino-skillsKnowledge {
		width: 100%;
	}
	.nino-designSkills .nino-skillsKnowledge {
		margin-top: 30px;
	}
	
	/* =============== SECTION HOBBIES & INTERESTS =============== */
	.nino-hobbies .item {
		width: 25%;
	}
}
@media (max-width: 991px) {

	#nino-cvWrap {
		margin: 0 auto;
		padding: 20px 20px 50px;
	}

	/* =============== HEADER =============== */
	header {
		margin-bottom: 30px;
	}
	header .otherInfo {
		text-align: left;
	}
	
	/* =============== SECTION DESIGN SKILLS =============== */
	.nino-designSkills .nino-skillsLevel {
		padding-right: 0;
	}
}
@media (max-width: 767px) {

}
@media (max-width: 640px) {

	/* =============== SECTION HOBBIES & INTERESTS =============== */
	.nino-hobbies .item {
		width: 33.3%;
	}
}
@media (max-width: 480px) {

	/* =============== SECTION HOBBIES & INTERESTS =============== */
	.nino-hobbies .item {
		width: 50%;
	}
	#nino-cvWrap {    
    	padding: 10px 15px 80px;
	}
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
    color: #b3b3b3;
    font-weight: 400;
}
.main-menu {
    text-transform: uppercase;
    border-bottom: 2px dotted #231F20;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #069cad;
}
